
<div class="formDetails" style="margin-left: 55%;">

<form action="/admin/search" method="post">

<div class="input-group  mb-3 mt-5" style="width: 500px; ">
  {{!-- <input type="text" class="form-control" placeholder="search user" aria-label="search user" aria-describedby="button-addon2"> --}}
  
  <input type="text" placeholder="search user" id="search" name="search">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
</div>


</form>

</div>


<a href="/admin/add-user"><button type="button"
      class="btn btn-info text-white  mt-5 mb-5 btn-lg ms-5" >Add-user</button></a>

<div class="container">

<table  id="userTable" class="table table-bordered table-info yes mt-5 me-5">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Username</th>
       <th scope="col">userEmail</th>
       <th scope="col">Edit</th>
       <th scope="col">Delete</th>
       
    </tr>
  </thead>
  <tbody>

      
{{#each userList }}

    <tr>
      <th scope="row">+</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>

    <td><a href="/admin/edituser/{{this._id}}" class="btn btn-primary">Edit</a></td>
        <td><a href="/admin/deleteuser/{{this._id}}" class=" btn btn-danger"
            onclick="confirm('are you sure to delete {{this.name}}')">Delete</a></td>
      
{{/each}}

  </tbody>
</table>
</div>


